<div class="container">
  <div class="row">
    <div class="col-xs-7 header-logo">
      <img class="align-middle" src="app/styles/img/logo.png" alt="Logo">
    </div>
    <div class="col-xs-5 header-form">
      <form>
        <table>
          <thead>
            <tr>
              <td class="header-table-td"><small class="header-span">Email</small></td>
              <td class="header-table-td"><small class="header-span">Password</small></td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <tr>
                <td class="header-table-td"><input class="header-input" type="email" name="email" required></td>
                <td class="header-table-td"><input class="header-input" type="password" name="password" required></td>
                <td class="header-table-td"><input type="button" class="btn btn-primary btn-xs" value="Log In"></td>
              </tr>
            </tr>
            <tr>
              <td class="header-table-td"></td>
              <td class="header-table-td"><a href="#"><small class="header-link">Forgot account?</small></a></td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>
</div>
